<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>home page</title>
    <style>
        .blog-cover {
            width: 100%;        /* fill the card width */
            height: 300px;      /* or any fixed height you like */
            object-fit: cover;  /* crop to fill box, keep aspect ratio */
            object-position: center;
        }
        .blog-pre {
           white-space: pre-wrap;    /* keep line breaks, wrap long lines */
           word-wrap: break-word;
           font-family: inherit;     /* use normal Bootstrap font, not monospace */
           padding: 0.5rem 0.75rem;
           font-size: 1.1rem;  /* bigger font */
        }
</style>
</head>

<body>
    <%- include("./partials/navbar") %>
    <div class="container mt-4">
        <h1><%= blog.title %></h1>
        <div class="text-center">
            <img src="<%= blog.coverImageUrl %>" width="400px" height="600px"/>
        </div>
        <br>
        <br>
        <pre class="blog-pre"> <%= blog.content %> </pre>
    </div>
    <div class="container mt-4 d-flex align-items-center">
        <img src="<%= blog.createdBy.profileImgUrl %>" width="50px"/><p class="ms-2 mb-0"> <%= blog.createdBy.fullName %></p>
    </div>
    <form action="/blog/comment/<%= blog._id %>" method="post">
        <div class="container mt-4">
            <h1>Comment (<%= comments.length %>)</h1>
            <% if (locals.user) { %>
            <div class="mb-3">
                <input type="text" class="form-control" id="content" aria-describedby="content" name="content" placeholder="Enter your comment">
            </div>
            <button type="submit" class="btn btn-primary mb-4">Submit</button>
            <% } %>
            <% comments.forEach(comment => { %>
                <div class="container mt-4 d-flex align-items-center">
                    <img src="<%= comment.createdBy.profileImgUrl %>" width="50px"/>
                    <p class="ms-2 mb-0"> <%= comment.createdBy.fullName %></p>
                </div>
                <pre class="blog-pre"> <%= comment.comment %> </pre>
            <% }) %>
        </div>
    </form>
    <%- include("./partials/script") %>
</body>

</html>